<div>
    <div class="section-title text-center">
        <h2 class="heading">Oferta</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subtitulo">Visitas de escuelas</div>
                <p>La UNAM en su campus Morelia recibe cada mes a numerosos grupos escolares de distintos niveles en sus instalaciones. Las visitas consisten en distintas actividades con las que queremos contribuir a demostrar que la ciencia es más divertida, útil y apasionante de lo que se piensa. Esto se lleva a cabo con la ayuda de distintos talleres, recorridos por el paseo de las ciencias, ponencias y proyecciones dependiendo del grado del grupo. Para agendar visitas al CCM la Unidad de Vinculación del campus realiza los registros con la Lic. Mónica García Ibarra: monicag csam.unam.mx.</p>
            </div>

            <div class="col-md-12">
                <div class="subtitulo">Servicio Social</div>

                <p>Servicio social en Divulgación, en las distintas Unidades que conforman al Centro como:</p>
                <ul class="talleres">
                    <li>Unidad de Cómputo
                    <li>Unidad de Documentación
                    <li>Unidad Administrativa
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="subtitulo">Público en General</div>
        <p>Dentro de las actividades que organiza el CCM para acercar al público en general a las matemáticas se encuentran:</p>
        <h3>Feria Matemática</h3>
        <p>Es un proyecto de divulgación de las Matemáticas gratuito y para todo público. Se ofrecen más de 10 actividades guiadas por alrededor de 100 voluntarios (en su mayoría, estudiantes de la Escuela Nacional de Estudios Superiores (ENES-UNAM Morelia) y de la Facultad de Físico-Matemáticas (FISMAT-UMSNH).El Comité organizador está integrado por académico del Posgrado Conjunto en Ciencias Matemáticas UNAM-UMSNH.
            Página web: Feria Matemática de Morelia</p>
        <h3>Fiesta de las Ciencias y Humanidades</h3>
        <p>Evento que invita a los estudiantes del nivel medio superior y superior a conocer la oferta educativa y cultural que tiene la UNAM en sus distintos campus dentro del país. En nuestro campus Morelia de la UNAM, este evento muestra a los asistentes la oferta educativa con la cuenta la ENES, los posgrados en sus distintos Centros e Institutos y el abanico de actividades culturales que se presentan.</p>
        <h3>Universo en tu Escuela y La Noche de las Estrellas</h3>
        <p>Proyecto en conjunto con el Instituto de Radioastronomía y Astrofísica de la UNAM (IRyA) que lleva actividades matemáticas y astronómicas a escuelas de nivel primaria y secundaria. </p>
    </div>
</div>

<div>
    <div class="container">
        <div class="subtitulo">Talleres</div>
        <p>La Unidad de Divulgación y Vinculación ofrece los siguientes Talleres dentro de su actividad divulgativa:<br></p>
        <div class="row">
            <div class="col-md-6">
                <strong>Burbujas de jabón y matemáticas</strong><br>
                <strong>Casino matemático</strong><br>
                <strong>Club de Mate</strong><br>
                <strong>Gato 3D y Cubiloco</strong><br>
                <strong>Lotería Matemática</strong><br>
                <strong>Lotería Matemática de sombras</strong><br>
            </div>
            <div class="col-md-6">
                <strong>Matemagia</strong><br>
                <strong>Nudos</strong><br>
                <strong>Papiroflexia modular (Origami)</strong><br>
                <strong>Rompecabezas 3D</strong><br>
                <strong>Rompecabezas en desorden (Teselaciones regulares y Penrose)</strong><br>
                <strong>Torres de Hanoi</strong><br>
            </div>
        </div>
    </div>
</div>
<div">
<div class="container">
    <div class="section-title">
        <h2 class="heading text-center">Contacto</h2>
    </div>
    <p>Los miembros del CCM también participan en numerosos programas y eventos de divulgación organizados por la UNAM, la Secretaría de Innovación, Ciencia y Desarrollo del Estado de Michoacán, y distintas entidades educativas de los estados. Cada año dictan numerosas conferencias en ese tipo de eventos y participan en la publicación de artículos y libros con carácter divulgativo. </p>

    <p><strong>Conócenos, acércate a nosotros.</strong></p>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3">
            <p><strong>Coordinador</strong><br />
                Dr. José Antonio Zapata<br />
                zapata<i class="fa-at fa"></i>matmor.unam.mx<br /></p>
        </div>
        <div class="col-md-3">
            <p><strong>Tec. Académico</strong><br />
                Mat. Gasde A. Hunedy López <br />
                ghunedy<i class="fa-at fa"></i>matmor.unam.mx<br /></p>
        </div>
    </div>
</div>
</div>
