<div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 section-title text-center">
        <h2 class="heading text-center">Unidades de Apoyo</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/docencia"><img src="{{ base_path ~ directory }}/img/small-banner-docencia.png"></a>

            <span class="heading text-center"><h3 class="title-unidad">Unidad de Docencia</h3></span>

        </div>
        <div class="col-md-4">
            <a href="http://www.matmor.unam.mx/documentacion/"><img src="{{ base_path ~ directory }}/img/small-banner-documentacion.png"></a>
            <span class="heading text-center"><h3 class="title-unidad">Unidad de Documentación</h3></span>

        </div>
        <div class="col-md-4">
            <a href="divulgacion"><img src="{{ base_path ~ directory }}/img/small-banner-divulgacion.png"></a>
            <span class="heading text-center"><h3 class="title-unidad">Unidad de Divulgación</h3></span>
        </div>
    </div>

</div><!-- /.container -->
