<div class="navbar-header container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://www.unam.mx">
        <img class="logo img-responsive" src="/themes/custom/basis/img/unam.png">
    </a>
    <a class="navbar-brand" href="http://www.matmor.unam.mx">
        <img class="logo img-responsive" src="/themes/custom/basis/img/ccm.png">
    </a>
</div>




<div id="navbar" class="collapse navbar-collapse">
    {{ content }}
</div><!--/.nav-collapse -->
