{{ attach_library('basis/posgrado-banner') }}
    <section id="posgrado">
        <div class="posgrado">
            <h1><a href="http://pccm.umich.unam.mx">Posgrado Conjunto en Ciencias Matemáticas</a></h1>
            <h3>UNAM-UMSNH</h3>
            <!--<div class="text-center"><button type="button" class="btn btn-warning">Visitar el sitio web</button></div>-->
        </div>
    </section>
