<div class="container">
    <div class="col-md-9 col-sm-9 col-xs-12 section-title text-center">
        <h2 class="heading text-center">Premios CCM</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6"> <h2 class="subtitulo">Dr. Ferrán Valdéz Lorenzo</h2>
                    <p class="text-justify">en 2017 obtiene la distinción para ser miembro de "The World Academic of Science"</p>
                </div>
                <div class="col-md-6"> <a href="https://twas.org/"><img src="/themes/custom/basis/img/twas.jpg"></a></div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <h2 class="subtitulo">
                        Dra. Thomai Tsiftsi</h2>
                    <p class="text-justify">Sociedad Matemática Mexicana - Sofia Kovalevskaia.</p>
                    <p>Space Apps Challenge, NASA.</p>
                </div>
                <div class="col-md-3"> <a href="http://www.smm.org.mx/"><img src="/themes/custom/basis/img/sociedad_360.jpg"></a></div>
                <div class="col-md-3"> <a href="https://www.nasa.gov/"><img src="/themes/custom/basis/img/nasa_360.jpg"></a></div>
            </div>
        </div>
    </div>
</div><!-- /.container -->