<div class="container-fluid" style="padding-top: 80px;">
    <div class="row">
        <div class="col-md-3 Titulos-noticias">
           <a href="http://labunam.unam.mx/" target="_blank"> <img src="{{ base_path ~ directory }}/img/labunam.png"></a>

        </div>
        <div class="col-md-3 Titulos-noticias">
           <a href="http://www.estadistica.unam.mx/numeralia/" target="_blank"> <img src="{{ base_path ~ directory }}/img/numeralia-unam.jpg"></a>

        </div>
        <div class="col-md-3 Titulos-noticias">
            <a href="http://www.rector.unam.mx/"> <img src="{{ base_path ~ directory }}/img/pag-rector.jpg"></a>

        </div>
        <div class="col-md-3 Titulos-noticias">
            <a href="http://www.posgrado.unam.mx/"> <img src="{{ base_path ~ directory }}/img/posgrado.png"></a>

        </div>
    </div>
</div><!-- /.container -->
