<div class="areas">
    <div class="subtitulo">{{ node.field_nombre.value }}</div>
    {{ node.field_descripcion.value|raw }}
</div>

{#  {{ fields.field_nombre.content }}   #}

   {#  {{ fields.field_pagina.content }}  #}
